name: Documentation

on:
  push:
    branches:
      - develop
  
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: write
    pages: write
    id-token: write
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: pandoc/actions/setup@main
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
            python-version: '3.10'     
      - name: Mock Basilisk
        run: |
          cp docs/sitecustomize.py $(python -c 'import site; print(site.getsitepackages()[0])')/sitecustomize.py
      - name: Install dependencies
        run: |
          pip install -e '.[docs,rllib]'
        # skip finish install steps
      - name: Sphinx build
        run: |
          cd docs
          make html
          cd ..
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html
          force_orphan: true
  

